<h1>Show Photo</h1>

<ul>

  <li>
    <strong>Filename:</strong>
    <%= @photo.filename %>
  </li>

  <li>
    <strong>Path:</strong>
    <%= @photo.path %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.photo_path(@conn, :edit, @photo) %></span>
<span><%= link "Back", to: Routes.photo_path(@conn, :index) %></span>
